Repository NovaSector/Solaris, pull requests merged in 2025-07, with the labels that each got.

#269 Guarantee revive spell for Priest
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, Balance

#271 New Snow Sprites
  icons/turf/roguefloor.dmi
Labels: Sprite

#233 The Grovening - Shelter Trees, Livingwood Furniture & More!
  _maps/templates/shelter_tree_large.dmm
  _maps/templates/shelter_tree_medium.dmm
  _maps/templates/shelter_tree_small.dmm
  _maps/templates/shelter_tree_tall.dmm
  code/__DEFINES/misc.dm
  code/__HELPERS/icon_smoothing.dm
  code/_globalvars/bitfields.dm
  code/datums/gods/patrons/three_sisters.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/bedsheets.dm
  code/game/objects/lighting/rogue_fires.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/game/objects/structures/crates_lockers/roguetown.dm
  code/game/objects/structures/roguetown/newtree.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/closed/wall/roguewalls.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/game/turfs/open/openspace.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/roguetown/roguejobs/cook/tools/oven.dm
  code/modules/shelters/acorn.dm
  code/modules/shelters/shelter_pod.dm
  code/modules/shelters/shelters_map_template.dm
  code/modules/spells/roguetown/acolyte/tamari.dm
  icons/mob/actions/roguespells.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/roguetown/items/chairs.dmi
  icons/roguetown/misc/crops.dmi
  icons/roguetown/misc/lighting.dmi
  icons/roguetown/misc/structure.dmi
  icons/roguetown/misc/tables.dmi
  icons/turf/roguefloor.dmi
  roguetown.dme
Labels: Code, Sprite, Mapping, Refactor

#273 [FIX]Talking weapon are talking.
  code/datums/components/singing_item.dm
Labels: Code

#277 my first FUCK pr
  code/modules/spells/spell_types/wizard/buffs_debuffs/overclock_arm.dm
Labels: Code

#278 [Fix] Fixes Spell Overflow & Aethernus Priest double revive
  code/_onclick/hud/action_button.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, Balance

#268 WE BRAWLING IN HERE! (Veteran subclass focused on unarmed called the brawler)
  code/modules/jobs/job_types/roguetown/keep/garrison/veteran.dm
Labels: Code, Balance, Test Merged

#272 Warden Subclass Changes by Wardens for Wardens (also a couple additions)
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/apothecary.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/bogguard.dm
  code/modules/mob/living/death.dm
  code/modules/spells/spell_types/wizard/utility/stave_the_dying.dm
  code/modules/surgery/surgery_tools_rogue.dm
  icons/roguetown/items/surgery.dmi
  roguetown.dme
Labels: Code, Sprite, Balance

#274 Overengineered Scope Creeping Fetch Quest System
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/roguetown.dm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/modules/roguetown/roguemachine/questing/questing.dm
  code/modules/roguetown/roguemachine/questing/questing.dmi
  code/modules/roguetown/roguemachine/questing/questing_components.dm
  code/modules/roguetown/roguemachine/questing/questing_datum.dm
  code/modules/roguetown/roguemachine/questing/questing_decals.dm
  code/modules/roguetown/roguemachine/questing/questing_items.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
  code/modules/roguetown/roguemachine/teleport_beacon.dm
  roguetown.dme
Labels: Code, Mapping, Test Merged

#281 Granularizes Underground + Aboveground Areas [MDB Ignore]
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/areas/overworld/outdoors/beaches.dm
  code/game/area/areas/overworld/outdoors/bogs.dm
  code/game/area/areas/overworld/outdoors/fields.dm
  code/game/area/areas/overworld/outdoors/forests.dm
  code/game/area/areas/overworld/outdoors/mountains.dm
  code/game/area/areas/overworld/outdoors/rivers.dm
  code/game/area/areas/underworld/caves.dm
  code/game/area/areas/underworld/mountains.dm
  code/modules/roguetown/mapgen/cavefloor.dm
Labels: Code, Mapping

#282 Radiant dungeons
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#283 radiant dungeon areadef tweaks
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#284 Quest System Refactor
  code/modules/roguetown/roguemachine/questing/questing.dm
  code/modules/roguetown/roguemachine/questing/questing_components.dm
  code/modules/roguetown/roguemachine/questing/questing_items.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
Labels: Code

#286 [FIX] Fixing an incorrectly shown emote.
  code/modules/spells/spell_types/wizard/buffs_debuffs/booming_blade.dm
Labels: Code

#288 increases riverbrook's difficulty (and beacon prices)
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/areas/overworld/dungeons/riverbrook.dm
Labels: Code, Mapping

#292 [FIX] court agent warlock
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/warlock.dm
Labels: Code, Balance

#291 Quest scroll compass; fire/tearing/general immunity, and quest difficulty spawning fixes
  code/modules/roguetown/roguemachine/questing/questing.dm
  code/modules/roguetown/roguemachine/questing/questing_components.dm
  code/modules/roguetown/roguemachine/questing/questing_datum.dm
  code/modules/roguetown/roguemachine/questing/questing_items.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
Labels: Code

#294 Removes maneater delimb and decap ability.
  code/game/objects/structures/maneater.dm
Labels: Code

#295 Mapgen Mayhem
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/roguetown/mapgen/cavefloor.dm
  code/modules/roguetown/mapgen/forest.dm
Labels: Code, Mapping

#297 Finally renames Goblin npc enemies to Impoids
  code/modules/mob/living/carbon/human/npc/goblin.dm
Labels: Code

#300 Fix spell accuracy formula
  code/modules/spells/roguetown/_roguetown.dm
Labels: Code

#301 [[Code]] Fixes Runtime.
  code/modules/mob/living/carbon/rogfatstam.dm
Labels: Code

#302 Faster milking, and it loops + Tarot deck in loadout
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code

#298 We Forest Knights Now
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/bogguard.dm
  code/modules/mob/living/death.dm
  code/modules/surgery/surgery_tools_rogue.dm
Labels: Code, Balance

#296 Reverts Bandit Rework & Adventurer Spawnpoint Switch
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/area/areas/_rasurian_heartland.dm
  code/game/area/areas/rasurian_heartland/indoors.dm
  code/game/area/areas/rasurian_heartland/outdoors.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/traveltile.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/bandit.dm
  code/modules/mapping/roguetown/access_helper.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  roguetown.dme
Labels: Code, Mapping, Balance

#305 nerfs extended chance; adds banditvamp mode
  code/game/gamemodes/roguetown/roguetown.dm
Labels: Code

#307 Port over AP Force String display + Durability display
  code/game/objects/items.dm
Labels: Code

#306 Hotkeys Port from AP + 1 Runtime Fix
  code/_onclick/hud/action_button.dm
  code/datums/keybinding/carbon.dm
  code/datums/keybinding/human.dm
  code/game/objects/items/rogueweapons/intents.dm
Labels: Code

#308 2 New Minibosses / Lost Swordsman Tiny Nerf
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/modules/mob/living/carbon/human/npc/bandit_leader_henchman.dm
  code/modules/mob/living/simple_animal/hostile/bosses/archer_asshole.dm
  code/modules/mob/living/simple_animal/hostile/bosses/bandit_leader.dm
  code/modules/mob/living/simple_animal/hostile/bosses/lost_swordsman.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
  icons/mob/solaris_badasses.dmi
  roguetown.dme
  sound/foley/gun_cock.ogg
Labels: Code, Sound, Sprite

#309 Adds far travel tile to Roguetest.
  _maps/map_files/roguetest/roguetest.dmm
Labels: Mapping

#310 Smoking Pouch Loadout Item
  code/datums/components/storage/storage_types.dm
  code/game/objects/items/rogueitems/gadgets.dm
  icons/roguetown/items/gadgets.dmi
  modular_azurepeak/code/datums/loadout.dm
Labels: Code, Sprite

#312 Ports the fix of the special exploit from AP
  code/modules/client/preferences.dm
Labels: Code

#311 [Port/Balance] Remove Environmental Dusting | Rebalanced Fireball & GFB (Now with Real Burn Damage!) (people promised me I can make church's 1-time-use holy nuke if I port this)
  code/game/turfs/open/lava.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/greater_fireball.dm
Labels: Code

#317 Tree Felling Bug Fix
  code/game/objects/structures/roguetown/newtree.dm
Labels: Code

#318 Allows recipe books to start inside bookshelves
  code/__DEFINES/is_helpers.dm
  code/modules/library/lib_items.dm
Labels: Code

#322 Allows bloodsuckers to gain triumphs and RCP
  code/modules/mob/living/carbon/human/life.dm
Labels: Code

#316 Adventurer's Guild Upgrade System
  _maps/map_files/dun_world/dun_world.dmm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_hologram.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_landmarks.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_types/convenience.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_types/storage.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_types/utility.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrades.dm
  code/modules/roguetown/roguemachine/questing/questing.dm
  code/modules/roguetown/roguemachine/questing/questing.dmi
  code/modules/roguetown/roguemachine/questing/questing_datum.dm
  code/modules/roguetown/roguemachine/questing/questing_decals.dm
  code/modules/roguetown/roguemachine/questing/questing_items.dm
  code/modules/roguetown/roguemachine/questing/questing_status_effects.dm
  code/modules/roguetown/roguemachine/teleport_beacon.dm
  roguetown.dme
Labels: Code, Mapping, Test Merged

#325 Miniboss Spawn Fix - Roguetest Quest Debug System
  _maps/map_files/roguetest/roguetest.dmm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
Labels: Code, Mapping

#324 New Veteran House
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#329 Some Movement Stuffs
  code/__DEFINES/directional.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/movement.dm
  code/controllers/subsystem/spacedrift.dm
  code/datums/components/orbiter.dm
  code/game/atoms_movable.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
Labels: Code

#331 Makes doors faster at opening and closing
  code/game/objects/structures/mineral_doors.dm
  icons/roguetown/misc/doors.dmi
Labels: Code, Sprite

#335 Continue eating/drinking after doing so once
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

#334 [PORT] Fixes clickdelay feedback icon layer
  code/_onclick/hud/clickdelay.dm
Labels: Code

#333 [PORT] Bush, Swampweed and Fyritius Replenishes.
  code/game/objects/structures/roguetown/rogueflora.dm
Labels: Code

#332 [Port] Category and Tabbing on Stockpile
  code/modules/roguetown/roguemachine/steward/steward.dm
  code/modules/roguetown/roguemachine/stockpile/stockpile.dm
  code/modules/roguetown/roguemachine/stockpile/withdraw_tab.dm
  code/modules/roguetown/roguestock/_roguestock.dm
  code/modules/roguetown/roguestock/stockpile_food.dm
  code/modules/roguetown/roguestock/stockpile_rawmat.dm
  roguetown.dme
Labels: Code

#336 [PORT] Bunch of surgery ports
  code/__DEFINES/medical.dm
  code/__DEFINES/tools.dm
  code/datums/wounds/types/slashes.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  code/modules/surgery/surgeries/amputation.dm
  code/modules/surgery/surgeries/bloodletting.dm
  code/modules/surgery/surgeries/fracture.dm
  code/modules/surgery/surgeries/healing.dm
  code/modules/surgery/surgeries/mouth_to_mouth.dm
  code/modules/surgery/surgeries/organ_manipulation.dm
  code/modules/surgery/surgeries/organic_steps.dm
  code/modules/surgery/surgeries/remove_embedded_object.dm
  code/modules/surgery/surgeries_hearth/extract_lux.dm
  code/modules/surgery/surgeries_hearth/revival.dm
  code/modules/surgery/surgery_tools_rogue.dm
  icons/roguetown/items/surgery.dmi
  modular_azurepeak/code/game/objects/items/surgery_bag.dm
  roguetown.dme
  sound/misc/bonk.ogg
Labels: Code, Sound, Sprite

#328 Expanded Guild Questing System with Adventurer Progression and Custom Quests
  _maps/map_files/dun_world/dun_world.dmm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_types/storage.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrade_types/utility.dm
  code/modules/roguetown/roguemachine/questing/guild_upgrades/upgrades.dm
  code/modules/roguetown/roguemachine/questing/questing.dm
  code/modules/roguetown/roguemachine/questing/questing.dmi
  code/modules/roguetown/roguemachine/questing/questing_datum.dm
  code/modules/roguetown/roguemachine/questing/questing_items.dm
Labels: Code, Mapping, Test Merged

#339 Engineering update(minecarts rotational power)
  code/__DEFINES/directional.dm
  code/game/objects/minecart_system/minecart.dm
  code/modules/roguetown/roguecrafting/engineering.dm
Labels: Code

#337 [PORT] Color Wheel, Brush and Color Sanitisation
  code/__HELPERS/lordcolor.dm
  code/_globalvars/customization/organ_customization.dm
  code/game/objects/items/rogueitems/hair_dye.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/roguetown/villain/bloodsucker.dm
  code/modules/client/customizer/customizer_choice.dm
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_body_markings.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/tailor.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/items/misc.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/heater_heraldry.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
  icons/roguetown/weapons/wood_heraldry.dmi
Labels: Code, Sprite, Balance

#341 Adds a preference toggle to autoEat
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

#343 Random Dun World Changes + Floorgrille Split
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/structures/fluff.dm
  code/modules/roguetown/roguecrafting/engineering.dm
Labels: Code, Mapping
