Repository NovaSector/Solaris, pull requests merged in 2025-04, with the labels that each got.

#3 /area/ Resprite
  icons/turf/areas.dmi
Labels: Sprite

#4 Time, Strings, Oh My!
  code/__DEFINES/time.dm
  code/__HELPERS/time.dm
  code/game/gamemodes/game_mode.dm
  sound/misc/midday.ogg
  sound/misc/newday.ogg
  sound/misc/newday_old.ogg
  sound/misc/nightfall.ogg
  strings/rt/rp_prompt.txt
  strings/rt/stress_messages.txt
  strings/rt/timechangetips.txt
Labels: Code, Sound

#6 GREP Adjustment
  code/modules/admin/blacklist.dm
  tools/ci/check_grep.sh
Labels: Code

#8 Removes Various Unusued Configs, Tweaks Others
  .gitignore
  code/controllers/configuration/entries/game_options.dm
  config/arenas/README.md
  config/config.txt
  config/game_options.txt
  config/jukebox_music/LICENSE.txt
  config/jukebox_music/README.txt
  config/jukebox_music/sounds/exclude
  tools/ci/ci_config.txt
  tools/travis/travis_config.txt
Labels: Code, Config Edit

#9 Removes The Dwarven Music Box & Song Uploading from Instruments
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/dmusicbox.dm
  code/game/objects/items/rogueitems/instruments.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/spells/roguetown/acolyte/malum.dm
  roguetown.dme
Labels: Code, Mapping

#10 Implements GEN TURF
  code/game/turfs/open/gen_turf.dm
  icons/turf/floors.dmi
  roguetown.dme
Labels: Code, Sprite

#11 SQL-Based Whitelist, Admin and Admin Ranks Loading Refactor and Developer Convenience Improvements
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/whitelist.dm
Labels: Code, Test Merged

#12 [!!] Rethemes Mentorhelps, Additional Lorepass.
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/preferences.dm
  code/__DEFINES/time.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/roundend.dm
  code/_globalvars/traits.dm
  code/datums/gods/faiths/divine_pantheon.dm
  code/datums/gods/faiths/inhumen_pantheon.dm
  code/datums/gods/faiths/old_god.dm
  code/datums/migrants/migrant_wave.dm
  code/datums/migrants/migrant_waves/fablefield wave.dm
  code/datums/special_traits/traits/traits.dm
  code/game/gamemodes/objectives_rogue.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/structures/maneater.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/admin/verbs/mentorhelp.dm
  code/modules/admin/verbs/schizohelp.dm
  code/modules/antagonists/roguetown/villain/ascendant/ascendant.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/droning/droning.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/peasants/lunatic.dm
  code/modules/mob/living/ambush.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/mob_helpers.dm
  code/modules/roguetown/roguemachine/throne.dm
  code/modules/roguetown/roguemachine/titan.dm
  code/modules/underworld/underworld.dm
  interface/interface.dm
  modular_azurepeak/code/game/objects/structures/fartravel.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/excommunicado.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/wanted.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Code, Mapping, Balance
