Repository NovaSector/Solaris, pull requests merged in 2025-05, with the labels that each got.

#17 Races Lore Update
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/orc.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/orc.dm
  modular_hearthstone/code/modules/mob/living/simple_animal/rogue/rogue_corpse.dm
Labels: Code

#23 volf -> wolf
  _maps/map_files/generic/CentCom.dmm
  code/datums/ai/controllers/wolf.dm
  code/datums/skills/combat.dm
  code/datums/skills/craft.dm
  code/datums/skills/misc.dm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/antagonists/roguetown/villain/ascendant/ascendant.dm
  code/modules/antagonists/roguetown/villain/ascendant/ascendant_altar.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/cargo/packsrogue/Brigand.dm
  code/modules/cargo/packsrogue/Knight.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
  code/modules/mob/living/simple_animal/rogue/creacher/wolf.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/spells/roguetown/acolyte/tamari.dm
  roguetown.dme
Labels: Code, Mapping, Balance

#25 Some edgecase texts
  code/modules/client/preferences.dm
  strings/rt/rp_prompt.txt
Labels: Code

#26 Rethemes our Currencies
  code/__DEFINES/traits.dm
  code/datums/character_flaw/_character_flaw.dm
  code/datums/skills/misc.dm
  code/datums/special_traits/traits/traits.dm
  code/game/objects/examine.dm
  code/game/objects/items/rogueitems/coins.dm
  code/game/objects/items/rogueitems/instruments.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/_withdraw_tab.dm
  code/modules/roguetown/roguemachine/bounty.dm
  code/modules/roguetown/roguemachine/lottery.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/roguetown/roguemachine/money.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/vendor.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/wanted.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
  modular_azurepeak/virtues/items.dm
Labels: Code, Balance

#27 Forces Extended, For Now
  code/game/gamemodes/roguetown/roguetown.dm
  config/game_options.txt
Labels: Code, Config Edit

#28 Construct Sprites Overhaul
  code/__DEFINES/footsteps.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
  icons/roguetown/mob/bodies/f/fcom.dmi
  icons/roguetown/mob/bodies/m/mcom.dmi
Labels: Code, Sprite

#29 OOPS - The church is playable again
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  modular_azurepeak/code/game/objects/items/quicksilver.dm
Labels: Code, Mapping, Balance

#30 Fixes torch merge skew
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#31 Torch + Crow Fix
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/crow.dm
  code/modules/roguetown/roguemachine/mail.dm
Labels: Code, Mapping

#34 half-baked gods shift
  code/__DEFINES/roguetown.dm
  code/__HELPERS/time.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/faiths/balance_pantheon.dm
  code/datums/gods/faiths/change_pantheon.dm
  code/datums/gods/faiths/light_pantheon.dm
  code/datums/gods/faiths/lording_three.dm
  code/datums/gods/faiths/peoples_pantheon.dm
  code/datums/gods/faiths/three_sisters.dm
  code/datums/gods/patrons/balance_pantheon.dm
  code/datums/gods/patrons/change_pantheon.dm
  code/datums/gods/patrons/light_pantheon.dm
  code/datums/gods/patrons/lording_three.dm
  code/datums/gods/patrons/peoples_pantheon.dm
  code/datums/gods/patrons/three_sisters.dm
  code/datums/special_traits/traits/traits.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/spells/roguetown/acolyte/carthus.dm
  code/modules/spells/roguetown/acolyte/general.dm
  modular_azurepeak/code/game/objects/items/quicksilver.dm
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_azurepeak/virtues/combat.dm
  roguetown.dme
  strings/rt/timechangetips.txt
Labels: Code, Balance

#35 Moves Our Spawns Over
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code, Mapping

#36 NoFlaw is Free Now
  code/datums/character_flaw/_character_flaw.dm
Labels: Code

#37 [FUCK] Fixes Torch Construction
  code/game/objects/lighting/rogue_fires.dm
  icons/roguetown/misc/lighting.dmi
Labels: Code, Sprite

#38 Timechange Tips Expansion
  code/datums/skills/craft.dm
  code/datums/skills/misc.dm
  strings/rt/timechangetips.txt
Labels: Code

#39 Fixes mentors by making the Be Mentor preference actually do something
  code/modules/client/preferences.dm
Labels: Code

#40 God Lore Expansion
  code/datums/gods/faiths/lording_three.dm
  code/datums/gods/faiths/three_sisters.dm
  code/datums/gods/patrons/lording_three.dm
  code/datums/gods/patrons/three_sisters.dm
  modular_hearthstone/code/modules/mob/living/simple_animal/rogue/rogue_corpse.dm
  strings/changelog.txt
Labels: Code

#41 Multi-Port: Arrow Rebalances And Bug Fixes
  code/datums/components/bane.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/game/objects/obj_defense.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/reusable/_reusable.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/ammo.dmi
  roguetown.dme
Labels: Code, Sprite, Balance

#44 Corrects Apothicant Apprentice's Spawn
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/effects/landmarks.dm
Labels: Code, Mapping

#46 Some Further FT Tweaks
  code/datums/gods/faiths/peoples_pantheon.dm
  strings/rt/timechangetips.txt
Labels: Code

#49 Spellbook Retheme + More Lorepassing
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  modular_azurepeak/virtues/combat.dm
  strings/books/religious/solastra_lunata.json
Labels: Code

#53 Kills all reference to "the undermaiden"
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/death.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/tsoridys.dm
  code/modules/underworld/underworld.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_azurepeak/code/modules/spells/pantheon/divine/tsoridys.dm
  roguetown.dme
Labels: Code

#55 Sugarcane, Pumpkin, Carrot
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/farming/plant_def.dm
  code/modules/farming/produce.dm
  code/modules/farming/seeds.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  icons/roguetown/items/food.dmi
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
  modular/Neu_Food/code/raw/NeuFood_processed.dm
Labels: Code, Sprite, Mapping

#51 Reverts Pilgrim Round Start and Adds Outlander Virtue
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code, Balance

#54 Updated Flag Colours
  code/__HELPERS/lordcolor.dm
Labels: Code

#58 Altering [POSITIVE] alchemical potions' colours and taste descriptions
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
Labels: Code

#60 [Balance] Gender Parity for Alchemist (and clean of others)
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
Labels: Code, Balance

#61 Portapalooza - Alchemy Consolidation & Staff Tooling
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/admin.dm
  code/datums/skills/craft.dm
  code/datums/skills/misc.dm
  code/datums/special_traits/traits/traits.dm
  code/game/atoms.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/admin/admin.dm
  code/modules/admin/create_object.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/apothecary.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/cave_dweller.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/noble.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothicant_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/alchemy/mortarpestle.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  html/create_object.html
  icons/obj/chemical.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/destitute_scholar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/failed_apprentice.dm
  modular_azurepeak/virtues/items.dm
  modular_azurepeak/virtues/utility.dm
  modular_hearthstone/code/interface/LOOC.dm
Labels: Code, Sprite, Mapping, Balance

#62 De-Souls gem names
  _maps/map_files/dun_world/dun_world.dmm
  code/datums/skills/combat.dm
  code/datums/skills/craft.dm
  code/game/objects/items/rogueitems/devices.dm
  code/game/objects/items/rogueitems/gems.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/cargo/packsrogue/alcohols.dm
  code/modules/cargo/packsrogue/brigand.dm
  code/modules/cargo/packsrogue/iconoclast.dm
  code/modules/cargo/packsrogue/knave.dm
  code/modules/cargo/packsrogue/knight.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/cargo/packsrogue/mage.dm
  code/modules/cargo/packsrogue/sawbones.dm
  code/modules/cargo/packsrogue/sellsword.dm
  code/modules/cargo/packsrogue/things.dm
  code/modules/clothing/rogueclothes/rings.dm
  code/modules/mob/dead/new_player/sprite_accessory/crests.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  roguetown.dme
  strings/names/golem.txt
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Code, Mapping

#45 Bandit Rework
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/traits.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/structures/traveltile.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
Labels: Code, Mapping, Balance

#64 Nobility Subclass flavortext update
  code/modules/jobs/job_types/roguetown/nobility/noble.dm
Labels: Code, Balance

#66 [WEBEDIT / PORT ] Fixes the player panel not working on non-living mobs
  code/modules/admin/admin.dm
Labels: Code

#68 Milestone: 8/9 Gods Complete
  code/datums/gods/faiths/peoples_pantheon.dm
  code/datums/gods/patrons/lording_three.dm
  code/datums/gods/patrons/peoples_pantheon.dm
  strings/rt/timechangetips.txt
Labels: Code

#73 Update gems.dm
  code/game/objects/items/rogueitems/gems.dm
Labels: Code

#72 Update armor.dm
  code/modules/clothing/rogueclothes/armor.dm
Labels: Code

#75 Varielle desc
  code/datums/gods/patrons/peoples_pantheon.dm
Labels: Code

#77 Pintle
  code/__DEFINES/sexcon_defines.dm
  code/datums/sexcon/sexcon.dm
  code/modules/client/customizer/customizers/organ/genitals.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/surgery/organs/feature_organs/genitals.dm
  icons/mob/sprite_accessory/genitals/pintle.dmi
  icons/mob/sprite_accessory/genitals/pintle_old.dmi
Labels: Code, Sprite

#78 Is it really that hard to remember what someones species is?
  code/datums/mind.dm
  code/modules/jobs/job_types/_job.dm
Labels: Code

#81 Brewing Expansion - Part One
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/farming/brewers_press.dm
  code/modules/farming/produce.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/tapster/brewers_drinks.dm
  icons/roguetown/misc/structure.dmi
  modular/Neu_Food/code/raw/NeuFood_processed.dm
  roguetown.dme
Labels: Code, Sprite, Mapping

#86 [Bug Fix & Minor Beautification] The swedish chef now gets a backpack, and I've also stretched your class
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lchef.dm
Labels: Code, Balance

#85 [Issue Fix] Renames anvil recipe for 'Combat Knife' to 'Seax'
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Code

#84 Fixes stone arrow invisibility
  code/game/objects/items/rogueweapons/ranged/ammo.dm
Labels: Code

#82 Instantaneous Net Removal Fix
  code/game/objects/items/rogueitems/ropechainbola.dm
Labels: Code

#87 Post job reshuffle fixes
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/jobs/job_types/roguetown/mages_university/sidefolk/mage_apprentice.dm
Labels: Code, Mapping, Balance

#91 Door Access Mapping Helpers
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/wretch.dm
  code/modules/mapping/roguetown/access_helper.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/effects/mapping_helpers.dmi
  roguetown.dme
Labels: Code, Sprite, Mapping, Balance

#92 Refactors deathsight & signal horn locations
  code/game/area/areas.dm
  code/game/area/roguetownareas.dm
  code/modules/mob/living/death.dm
  modular_hearthstone/code/game/objects/items/signal_horn.dm
Labels: Code

#97 Re-Enable Werewolves
  code/game/gamemodes/objectives_rogue.dm
  code/game/gamemodes/roguetown/roguetown.dm
Labels: Code

#98 Who lives in a treehouse under the canopy? Druids, elves, and dryads probably.
  code/game/objects/structures/roguewindow.dm
  code/game/turfs/closed/wall/roguewalls.dm
  code/game/turfs/open/floor/roguefloor.dm
  icons/roguetown/misc/tree.dmi
Labels: Code, Sprite, Mapping

#99 Corrects Steward Spawn
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#100 Gunsmith QoL 3
  code/modules/roguetown/roguecrafting/items.dm
Labels: Code

#104 Merchant's export expansion 1 : You can export all wolf's parts, along with troll horns. Nerfs the sell price of half masks.
  code/game/objects/items/rogueitems/natural/animals.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/weaving.dm
Labels: Code

#106 Fixes an Errantly Placed Door
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#109 Revert "Re-Enable Werewolves (#97)"
  code/game/gamemodes/objectives_rogue.dm
  code/game/gamemodes/roguetown/roguetown.dm
  strings/changelog.txt
Labels: Code

#108 More Map Fixes
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#110 Fix zombification stripping people of their organic biotypes by adding some parenthesis
  code/__DEFINES/mobs.dm
Labels: Code

#112 Fixes The Days On Floor Clocks
  code/game/objects/structures/fluff.dm
Labels: Code

#113 Fixes Quartz Rings & Nerfs the Adventurer's Guild further
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/clothing/rogueclothes/rings.dm
Labels: Code, Mapping

#114 Bulk ASay Updates
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/view_variables/view_variables.dm
  sound/misc/asay_ping.ogg
Labels: Code, Sound

#116 lorepass missed this
  code/modules/spells/roguetown/acolyte/tamari.dm
Labels: Code

#117 Necromancer Fix & New Ally-Mark Spell: Mark of the Gravebound
  code/datums/ai/targetting_datum/simple_targetting_datum.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/wretch.dm
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Code, Balance

#118 More Head-Mage Fixes
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/jobs/job_types/roguetown/mages_university/head_mage.dm
Labels: Code, Mapping, Balance

#119 [FIX] Hood toggling breaking summoning orders
  code/datums/ai/targetting_datum/simple_targetting_datum.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/wretch.dm
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/spells/roguetown/necromancer.dm
  modular_azurepeak/code/modules/spells/minion_order.dm
Labels: Code, Balance
