Repository NovaSector/Solaris, pull requests merged in 2025-06, with the labels that each got.

#122 [FUCK] Fixes Create Object
  html/create_object.html
Labels: FUCK

#123 Fixing Faction Failures in Fratricidal Skeletons
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
Labels: Code

#128 The Forsaken Bastille - A new dungeon for Solaris Ridge
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
Labels: Code, Mapping

#134 Azure Peak deepfrying port, carrot chopping, meads
  code/__HELPERS/global_lists.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/lighting/rogue_fires.dm
  code/modules/farming/brewers_press.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/farming/produce.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/headless.dm
  code/modules/mob/living/simple_animal/rogue/creacher/lamia.dm
  code/modules/mob/living/simple_animal/rogue/creacher/tangler.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguejobs/cook/ingredients/fat.dm
  code/modules/roguetown/roguejobs/cook/ingredients/meat.dm
  code/modules/roguetown/roguejobs/cook/ingredients/misc.dm
  code/modules/roguetown/roguejobs/cook/recipes/breads.dm
  code/modules/roguetown/roguejobs/cook/recipes/meat.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  code/modules/roguetown/roguejobs/cook/recipes/pies.dm
  code/modules/roguetown/roguejobs/cook/recipes/plates.dm
  code/modules/roguetown/roguejobs/cook/recipes/soups.dm
  code/modules/roguetown/roguejobs/cook/tools/grinding.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
  code/modules/roguetown/roguejobs/tapster/brewers_drinks.dm
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/code/cooked/deep_fried.dm
  modular/Neu_Food/code/drinks/stew.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
  modular/Neu_Food/code/raw/NeuFood_meat.dm
  modular/Neu_Food/code/raw/NeuFood_processed.dm
  modular/Neu_Food/code/raw/NeuFood_veggies.dm
  modular/Neu_Food/code/recipes/stew_recipes.dm
  modular/Neu_Food/icons/deep_fried.dmi
  modular/Neu_Food/icons/food.dmi
  roguetown.dme
Labels: Code

#136 Alchemical Mortar Regression Fixes
  code/modules/roguetown/roguecrafting/alchemy/grind_recipes.dm
Labels: Code

#138 Fixes 1 Orc Skintone that i busted up
  code/__DEFINES/mobs.dm
Labels: Code

#139 [s] Fixes the Wildshape Incident Of 2025
  code/modules/spells/roguetown/acolyte/tamari.dm
Labels: Code

#143 Adds Mess Kit, Folding Table, and Saiga Plushie
  code/datums/components/storage/storage_types.dm
  code/game/objects/items/rogueitems/gadgets.dm
  code/game/objects/items/rogueitems/toys.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/cargo/packsrogue/tools.dm
  icons/obj/toy.dmi
  icons/roguetown/items/gadgets.dmi
  roguetown.dme
Labels: Code, Sprite

#145 Fixes Compile-Errors relating to Folding Tables
  code/game/objects/items/rogueitems/gadgets.dm
  code/game/objects/structures/tables_racks.dm
Labels: Code

#146 Makes projectile spell casting more obvious.
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcane_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/fetch.dm
Labels: Code

#148 Completely rework invocation messages
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
  code/modules/spells/roguetown/acolyte/zira.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/ethereal_jaunt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcane_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/fetch.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
Labels: Code

#137 [QoL] Adjust Magic changes based on the Feedback Requests
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/spells.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/recipes.dm
  code/datums/mind.dm
  code/game/objects/items/magic_staffs.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/apothecary.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/noble.dm
  code/modules/jobs/job_types/roguetown/mages_university/alchemist.dm
  code/modules/jobs/job_types/roguetown/mages_university/archivist.dm
  code/modules/jobs/job_types/roguetown/mages_university/head_mage.dm
  code/modules/jobs/job_types/roguetown/mages_university/sidefolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/janitor.dm
  code/modules/jobs/job_types/roguetown/unused/other/deathknight.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/tutor.dm
  modular_azurepeak/virtues/combat.dm
  roguetown.dme
Labels: Code, Balance

#150 1HoneyDragon's Tiefling lore update
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
Labels: Code

#149 Changelog & Skin Redo
  code/modules/client/preferences.dm
  goon/browserassets/css/browserOutput.css
  html/browser/common.css
  interface/skin.dmf
  strings/changelog.txt
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui/assets/tgui.css
  tgui/src/interfaces/roulette.styl
Labels: Code

#133 Gunpowder QoL
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/rogue.dm
  modular_helmsguard/code/game/objects/weapons/ranged/arquebus.dm
  modular_helmsguard/code/game/objects/weapons/ranged/handgonne.dm
Labels: Code, Balance

#153 Quest Marker Emote
  code/modules/mob/living/emote.dm
  code/modules/mob/living/overhead_effects.dm
  icons/mob/overhead_effects.dmi
Labels: Code, Sprite

#152 [Balance] Legendary Towners Equalization
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lpeasant.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/pilgrim/rare/Lwoodcut.dm
  code/modules/jobs/job_types/roguetown/mages_university/artificer.dm
Labels: Code, Balance

#154 Noticeboards spanning whole Solaris
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/roguetown.dm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/modules/roguetown/roguemachine/noticeboard.dm
  icons/roguetown/misc/64x64.dmi
  roguetown.dme
Labels: Code, Sprite, Mapping

#155 Cat'erpillars and moth cats
  code/__DEFINES/mobs.dm
  code/game/objects/items/rogueitems/bait.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/rogue/farm/caterpillar.dm
  icons/roguetown/mob/monster/argonian.dmi
  icons/roguetown/mob/monster/caterpillar.dmi
  icons/roguetown/mob/monster/mothcat.dmi
  modular/Neu_Farming/code/eggs.dm
  modular/Neu_Food/icons/food.dmi
  roguetown.dme
Labels: Code, Sprite

#156 Scholar's Folly - A new dungeon for Solaris Ridge
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
  code/modules/mob/living/carbon/human/npc/ziraguard.dm
  roguetown.dme
Labels: Code, Mapping

#157 Assorted Aesthetic Changes
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/structures/roguetown/newtree.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/farming/tools.dm
  code/modules/roguetown/mapgen/ambushmarkers.dm
  code/modules/roguetown/mapgen/beach.dm
  code/modules/roguetown/mapgen/bog.dm
  code/modules/roguetown/mapgen/decap.dm
  code/modules/roguetown/roguemachine/noticeboard.dm
  icons/obj/stairs.dmi
  icons/roguetown/misc/foliage.dmi
  icons/roguetown/misc/foliagetall.dmi
  icons/turf/roguefloor.dmi
Labels: Code, Sprite, Mapping

#159 Fixes Accidental TURBODanger
  code/modules/roguetown/mapgen/ambushmarkers.dm
Labels: Code, FUCK

#151 Part 2 of Faith Salute.
  code/__DEFINES/traits.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/modules/mob/living/overhead_effects.dm
  icons/mob/overhead_effects.dmi
Labels: Code, Sprite

#160 Fixes 1 (1) Silly Mistake
  code/game/objects/structures/roguetown/rogueflora.dm
Labels: Code

#162 [[Balance]] Removes free Spellpoints from Old people
  code/modules/jobs/job_types/roguetown/external/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/mages_university/head_mage.dm
  code/modules/jobs/job_types/roguetown/mages_university/sidefolk/mage_apprentice.dm
Labels: Code, Balance

#163 Disables Flagellant, For Now
  code/modules/jobs/job_types/roguetown/external/adventurer/types/combat/warrior.dm
Labels: Code, Balance

#164 Scholar's Folly Loot Buff
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#167 Re-Enables Ambient Occlusion
  code/__DEFINES/misc.dm
  icons/roguetown/misc/foliage.dmi
Labels: Code, Sprite

#169 Zydras Spriting Pass #3: It's Treeson.
  code/game/objects/structures/roguetown/rogueflora.dm
  icons/roguetown/misc/96x96.dmi
Labels: Code, Sprite

#171 New Guild Handler Role
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/ghandler.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Code, Mapping, Balance

#174 Giuseppe's Toybox - A new dungeon for solaris ridge
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/mob/living/carbon/human/npc/toy_jester.dm
  roguetown.dme
  sound/music/area/dungeon_toybox.ogg
  strings/rt/names/other/toyjester.txt
  strings/rt/toyjesteraggrolines.txt
Labels: Code, Sound, Mapping

#175 Ports Azure Peak's peak ration packs
  code/modules/roguetown/roguecrafting/items.dm
  modular/Neu_Food/code/ration.dm
  modular/Neu_Food/icons/ration.dmi
  roguetown.dme
Labels: Code

#179 Changes to the Adventurer's guild
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/ghandler.dm
Labels: Code, Mapping, Balance

#180 Merchant's Shop relooking : new starting loadout, new tools to sell, price adjustements and more !
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/gadgets.dm
  code/modules/cargo/packsrogue/armor.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/leather.dm
  icons/roguetown/weapons/32.dmi
  modular_azurepeak/code/game/objects/items/surgery_bag.dm
Labels: Code, Sprite, Mapping

#181 Toy Jester Rebalance
  code/modules/mob/living/carbon/human/npc/toy_jester.dm
Labels: Code

#182 Removes Ace Adventurer; Re-Adds Handler Sword
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/town/soilson.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/ghandler.dm
Labels: Code, Mapping, Balance

#183 Artificery Tweaks
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#186 Mess kit and Folding table resprite
  icons/roguetown/items/gadgets.dmi
Labels: Sprite

#188 Re-Adds The Merge Conflict Marker
  code/modules/mapping/merge_conflicts.dm
  icons/effects/mapping_helpers.dmi
  roguetown.dme
Labels: Code, Sprite

#172 [TEST MERGE] Find Familiar Spell & Forgotten Bond Virtue
  code/__DEFINES/roguetown/familiars.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/generic_dextrous.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/item_attack.dm
  code/modules/client/client_procs.dm
  code/modules/client/familiar_prefs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/simple_animal/examine.dm
  code/modules/mob/living/simple_animal/friendly/familiars.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/simple_animal_topic.dm
  code/modules/spells/roguetown/acolyte/aeternus.dm
  code/modules/spells/roguetown/acolyte/zira.dm
  code/modules/spells/spell_types/familiar_abilities.dm
  code/modules/spells/spell_types/wizard/conjure/find_familiar.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/roguetown/mob/familiars.dmi
  roguetown.dme
Labels: Code, Sprite, Test Merged

#193 Maps in ration papers for the tavern and merchant
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#189 Updates headshot regex to allow more lensdump links
  code/modules/client/preferences.dm
Labels: Code

#195 Hamlet remap
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#197 Locked Door Helper [MDB Ignore]
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/mapping/roguetown/lock_helper.dm
  icons/effects/mapping_helpers.dmi
  roguetown.dme
Labels: Code, Sprite, Mapping

#198 Fixes Toybox Cheese
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping, FUCK

#200 Prevents repair damage at low skill level
  code/game/objects/items/rogueitems/needle.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Code

#199 Alchemical Vials in-bag resize
  code/modules/roguetown/roguecrafting/alchemy/alch_items.dm
Labels: Code

#207 [QoL] Alchemist QoL and Squire fix values buff
  code/game/objects/items/rogueitems/waterskin.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_items.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Code

#205 Part 2.5 of Faith Salute,
  code/modules/mob/living/overhead_effects.dm
Labels: Code

#209 You can quickly bundle cured leather and sticks. Bags no longer become blocked when dumping things into barrels and presses. Salvaged clothing is now 1 by default. Shovels, fibers and ration papers can be bought at the Merchant.
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/cargo/packsrogue/rawmat.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/farming/brewers_press.dm
  code/modules/farming/fermenting_barrel.dm
Labels: Code, Mapping

#211 Deadite (Undead) Chat Message Change
  code/modules/antagonists/roguetown/villain/zombie/zombie.dm
Labels: Code

#196 Traps, Pressure Plates, Activators, Wrenches
  code/__DEFINES/components.dm
  code/game/objects/items/contraption.dm
  code/game/objects/structures/crates_lockers/cratestrapped.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/roguetown/redstone.dm
  code/game/objects/structures/traps.dm
  code/game/turfs/closed/_closed.dm
  code/modules/jobs/job_types/roguetown/mages_university/artificer.dm
  code/modules/mob/living/living.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  code/modules/roguetown/roguejobs/engineer/items.dm
  icons/obj/wrenches.dmi
  icons/roguetown/misc/engineering_structure.dmi
  icons/roguetown/misc/traps.dmi
  roguetown.dme
Labels: Code, Sprite, Balance, Test Merged

#208 Kasmidian teleportation beacons across the whole Sunmarch
  _maps/map_files/dun_world/dun_world.dmm
  code/controllers/subsystem/rogue/roguemachine.dm
  modular/code/modules/aetheryte/aetheryte.dm
  modular/code/modules/aetheryte/aetheryte.dmi
  roguetown.dme
Labels: Code, Mapping, Test Merged

#213 The Door Autoname Helper
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/areas/town/garrison/indoors.dm
  code/modules/mapping/roguetown/autoname_helper.dm
  icons/effects/mapping_helpers.dmi
  roguetown.dme
Labels: Code, Sprite, Mapping

#202 [TEST MERGE] Wild Magic (And refactor of COMSIG_MOB_APPLY_DAMAGE)
  code/__DEFINES/components.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/character_flaw/_character_flaw.dm
  code/datums/components/explodable.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/roguetown/wild_magic/code/effects.dm
  code/modules/roguetown/wild_magic/code/helpers.dm
  code/modules/roguetown/wild_magic/code/illusions.dm
  code/modules/roguetown/wild_magic/code/wild_magic.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/wizard/learnspell.dm
  code/modules/spells/spell_types/wizard/utility/prestidigitation.dm
  icons/effects/illusions.dmi
  modular_azurepeak/code/modules/spells/orison.dm
  modular_hearthstone/code/modules/spells/roguetown/flagellant.dm
  roguetown.dme
Labels: Code, Sprite, Test Merged

#216 missed a door + redesigned vulnafir beacon room
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#220 fixes up gatehouse areadefs & the cell path
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/areas/town/garrison/indoors.dm
Labels: Code, Mapping

#219 New Sprites: Four ritual circles by Zydras
  icons/roguetown/misc/rituals.dmi
Labels: Sprite

#218 [QoL] Leech Inmune Trait and WoodWalker Trait now work. +..
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/turfs/open/water.dm
  code/modules/roguetown/roguejobs/alchemist/herb_flora.dm
Labels: Code

#222 [ARMOR][LOOTS] Carapace Armor, Dragonscale Armor Port
  code/game/objects/items/rogueitems/natural/animals.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/mob/living/simple_animal/rogue/creacher/headless.dm
  code/modules/mob/living/simple_animal/rogue/creacher/lamia.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mudcrab.dm
  code/modules/roguetown/roguecrafting/leather.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/natural.dmi
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
Labels: Code, Sprite

#226 Adds hidden blade to bronze arm virtue
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/spells/spell_types/wizard/utility/trickarm.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
  sound/magic/trickarm_eject.ogg
Labels: Code, Sound

#229 The Five Year Plan: Nerfs The Money Spawner
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/effects/spawners/lootdrops/dungeons.dm
Labels: Code, Mapping

#230 [FIX] Unarmed character can crit again.
  code/modules/mob/living/carbon/human/species.dm
Labels: Code

#234 [Feature] Adds Size Slider, Removes Giant Virtue & Enlarge Spell
  code/__DEFINES/preferences.dm
  code/game/objects/effects/spawners/lootdrops/dungeons.dm
  code/game/objects/items/granters.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/living_defines.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/enlarge.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  modular_azurepeak/virtues/size.dm
  roguetown.dme
Labels: Code, Test Merged

#235 Adds Gargoyle's Rest- A Minor Dungeon
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/areas/overworld/indoors/dungeons.dm
  code/game/area/areas/underworld/dungeon/gargoyles_rest.dm
  roguetown.dme
Labels: Code, Mapping

#239 Update README.md but like; again
  README.md
Labels: documentation

#242 Toybox Concessionary Alterations
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#243 Kasmidian Bus Stops
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/jobs/job_types/roguetown/church/acolyte.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/sidefolk/churchling.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/external/adventurer/towner.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/deacon.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/keep/courtier/seneschal.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/sidefolk/squire.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/keep/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/marshal.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/noble.dm
  code/modules/jobs/job_types/roguetown/keep/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/keep/servant.dm
  code/modules/jobs/job_types/roguetown/mages_university/alchemist.dm
  code/modules/jobs/job_types/roguetown/mages_university/archivist.dm
  code/modules/jobs/job_types/roguetown/mages_university/artificer.dm
  code/modules/jobs/job_types/roguetown/mages_university/head_mage.dm
  code/modules/jobs/job_types/roguetown/mages_university/sidefolk/apothicant_apprentice.dm
  code/modules/jobs/job_types/roguetown/mages_university/sidefolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/town/sidefolk/clerk.dm
  code/modules/jobs/job_types/roguetown/town/sidefolk/shophand.dm
  code/modules/jobs/job_types/roguetown/town/sidefolk/smith_apprentice.dm
  code/modules/jobs/job_types/roguetown/town/soilson.dm
  code/modules/jobs/job_types/roguetown/town/tapster.dm
  code/modules/jobs/job_types/roguetown/town/villagechief.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/ghandler.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/janitor.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/town/yeomen/tailor.dm
  code/modules/roguetown/roguemachine/teleport_beacon.dm
Labels: Code, Mapping, Balance

#236 New Carthus Ritual: Perfection of Form
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/mob/mob_defines.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Code, Test Merged

#244 Switch teleport beacon icon state and fringe defaults
  code/modules/roguetown/roguemachine/teleport_beacon.dm
  icons/obj/machines/teleport_beacon.dmi
Labels: Code, Sprite

#245 Increases Toybox Security... Again
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#246 Revert "Toy Jester Rebalance"
  code/modules/mob/living/carbon/human/npc/toy_jester.dm
Labels: Code

#251 [QoL] Full Devotionists get Diagnose too.
  code/controllers/subsystem/rogue/devotion.dm
Labels: Code

#250 Conjure Tools Spell
  code/modules/spells/spell_types/wizard/conjure/conjure_tool.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  roguetown.dme
Labels: Code

#253 [FUCK] english is actually hard as a language
  code/game/area/areas/underworld/dungeon/hordes_hoard.dm
Labels: Code, FUCK

#254 Valiant Arm - Bronze Arm Overclocking
  code/modules/roguetown/roguejobs/engineer/prostheticarm.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/overclock_arm.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
  sound/magic/overclock_end.ogg
  sound/magic/overclock_start.ogg
  sound/magic/overclock_tick1.ogg
  sound/magic/overclock_tick2.ogg
Labels: Code, Sound

#259 Re-Adds Corrected Mob Offsets
  code/modules/mob/living/simple_animal/rogue/creacher/dragger.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
Labels: Code

#260 ai rework mob rebalance - solaris dungeons
  code/modules/mob/living/carbon/human/npc/toy_jester.dm
  code/modules/mob/living/carbon/human/npc/ziraguard.dm
Labels: Code
